body {
    margin: 0;
    padding: 0;
}

.bg {
    position: relative;
    background: #000000 url(../images/level03.png);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    animation: animate 10s linear forwards;
    z-index: -1;
}

.score_div {
    position: absolute;
    background-color: rgba(7, 43, 80, 0.493);
    width: 120px;
    height: 120px;
    /* Full width */
    padding: 20px;
    /* Some padding */
    border: 1px solid;
    /* Gray border */
    border-radius: 200px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 50px;
    left: 50px;
    color: #fefefe;
    text-align: center;
    padding-top: 45px;
}

.health_div {
    position: absolute;
    background-color: rgba(7, 139, 36, 0.61);
    width: 120px;
    height: 120px;
    /* Full width */
    padding: 20px;
    /* Some padding */
    border: 1px solid;
    /* Gray border */
    border-radius: 200px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 50px;
    right: 50px;
    color: #fefefe;
    text-align: center;
    padding-top: 45px;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.player {
    position: absolute;
    bottom: 10px;
    height: 110px;
    width: 90px;
    left: 0px;
    z-index: 1;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Sit on top */
    padding-top: 350px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(15, 100, 211, 0.507);
    /* Fallback color */
    background-color: rgba(4, 20, 22, 0.308);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: rgba(9, 25, 41, 0.808);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 25px;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
    color: #fefefe;
    font-size: 300%;
}